Requirements:
	- All equation types advertised on help are implemented / don't crash
	- Can view all equation types on graph
		- Axes scale to provide an appropriate view of the domain / range
	- User able to supply any real decimal value (positive, negative and zero)
	- Program should terminate in an acceptable manner (on closing graph)
	- Gracefully accepts invalid inputs (for command line and coefficients)
	- User should be able to back out / correct mistakes

Investigate:

	Martin - EquationView:
		- Second Order in help message should be SecondOrder
		- Sinus equation help text is wrong, should be b*x not b+x
		- Help message doesn't show when more than one word passed as args
		- increment(i) -> WHY?
	
	Martin - SecondOrderEquation:
		- Not yet implemented
		
	Martin - EquationPanel:
		- Shows a "useful" range of output
		- Sanitise inputs (ignore points that cause / 0 etc.)
		
	Martin - SinusEquation:
		- Ensure useful scientific output (spec problem)
		
	Huw - Equation:
		- Ensure handles inputs gracefully
		
	Huw - FractionalEquation:
		- Constrain inputs
	